html {
    background-color: lightyellow;
  }

  fieldset {
    background-color: lightgrey;
    color: black;
    border-radius: 0 20px 20px 0;
    border: solid 5px salmon;
  }

  body {
    border: solid 5px salmon;
    padding: 2rem 0;
    border-bottom: 30px solid salmon;
    border-radius: 20%;
  }

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }